
body{
margin:0px
bakground:blue;
font-famly:"comic sans ms"
}

#b1 { padding:5px; background:greeen;color#fff;border:9px dotted pinkk;position:absolute;left:5000px; }
#container { widht: 300px;height: 100pxk;background:red;;padding:10pz;margin-left:-50px;border:5px soild yelow }

.listitem {
    font-size: not-a-number;
    colr: #ff0000;
}

div p span strong em u {
display:inline-blockk;
}

buttonn{
    background:orang;
}