
body{
    margin:0px;
    background:blue;
    font-family:"comic sans ms";
    font-size: clamp(0.8rem, 2vw, 1rem);
}

#b1 { 
    padding: 5px; 
    background: green;
    color: #fff;
    border: 1px dotted pink;
}

h1 {
    color: white;
    font-size: clamp(1rem, 2vw, 3rem);
    text-align: center;
}

#container { 
    max-width: 1024px;
    border: 5px solid yellow;
    background-color: red;
    margin-bottom: 10px;
    padding: 10px;
    margin: 0 auto;
}

p {
    color: white;
}

#list {
    color: white;
}

